* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 58, 58);
    color: white;
    text-align: center;
    max-width: 85vw;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    margin-top: 13vh;
    /* display: flex; */
}
.hello {
    display: flex;
}
.ans {
    margin: 2rem 0;
    background-color: aquamarine;
    height: 10rem;
    width: 50%;
    color: black !important;
    border-radius: 10px;
    margin: 30px auto;
}

.finalAns {
    margin: 20px;
    padding: 10px;
}
.mt-10 {
    padding-top: 10px;
}
.delete {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin: 0px 10px;
}
button {
    font-size: 15px;
    font: bold;
    padding: 6px;
    border-radius: 10px;
}

.delete-btn {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin-top: 15px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.delete-btn:hover,
.delete-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.delete-btn:active {
    opacity: 0.5;
}

.savedData{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards{
    background-color: aqua;
    color: black;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 7px;
    width: 290px;
}